{% for post in collections.personaggi | sort(attribute="data.title") %}
<div class="responsive">
  <div class="gallery">
    <a href="{{ post.url | url }}">
      <img src="{{ post.data.immagine }}" alt="{{ post.data.title }}" width="600" height="400">
    </a>
    <div class="desc">{{ post.data.title }}</div>
  </div>
</div>
{% endfor %}